n8n-workflows/financezap-instagram-workflow.json
{
  "name": "FinanceZap — Instagram Auto Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * 1,3,5"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "⏰ Agendar Postagem",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Posta às 19h nas Seg, Qua e Sex. Ajuste o cron conforme necessário."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Posts",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pendente"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "sheets-fetch",
      "name": "📋 Buscar Próximo Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "COLOQUE_SUA_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      },
      "notes": "Planilha com colunas: titulo, legenda, image_url, tipo, status, data_postagem"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-post-exists",
              "leftValue": "={{ $json.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-content",
      "name": "🔍 Tem Post Pendente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_BUSINESS_ID }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('📋 Buscar Próximo Post').first().json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('📋 Buscar Próximo Post').first().json.legenda }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "create-container",
      "name": "📦 Criar Container (Step 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "notes": "Cria o media container — necessário antes de publicar"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "wait-processing",
      "name": "⏳ Aguardar Processamento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 200],
      "notes": "Meta precisa de alguns segundos para processar a imagem"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $('📦 Criar Container (Step 1)').first().json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-status",
      "name": "🔎 Verificar Status Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-ready",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-ready",
      "name": "✅ Container Pronto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_BUSINESS_ID }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('📦 Criar Container (Step 1)').first().json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "publish-post",
      "name": "🚀 Publicar no Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 140],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Posts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "publicado",
            "data_postagem": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
            "ig_post_id": "={{ $('🚀 Publicar no Instagram').first().json.id }}"
          },
          "matchingColumns": ["titulo"],
          "schema": []
        },
        "options": {}
      },
      "id": "update-sheet-success",
      "name": "✏️ Marcar como Publicado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2000, 140],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "COLOQUE_SUA_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ *Post publicado no Instagram!*\n\n📝 *Título:* {{ $('📋 Buscar Próximo Post').first().json.titulo }}\n🕐 *Horário:* {{ $now.toFormat('dd/MM HH:mm') }}\n🔗 *Post ID:* {{ $('🚀 Publicar no Instagram').first().json.id }}\n\n_FinanceZap Auto-Post_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-success",
      "name": "📱 Notificar Telegram (Sucesso)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2220, 140],
      "credentials": {
        "telegramApi": {
          "id": "COLOQUE_SUA_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Opcional — notifica você no Telegram quando um post é publicado"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "⏳ Aguardar e Tentar Novamente",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1780, 280],
      "notes": "Container ainda não processou — aguarda e verifica de novo"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ *Erro ao publicar post!*\n\n📝 *Título:* {{ $('📋 Buscar Próximo Post').first().json.titulo }}\n🕐 *Horário:* {{ $now.toFormat('dd/MM HH:mm') }}\n\nVerifique o n8n para mais detalhes.\n\n_FinanceZap Auto-Post_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-no-post",
      "name": "⚠️ Notificar Telegram (Sem Post)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 440],
      "credentials": {
        "telegramApi": {
          "id": "COLOQUE_SUA_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "⏰ Agendar Postagem": {
      "main": [
        [
          {
            "node": "📋 Buscar Próximo Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Buscar Próximo Post": {
      "main": [
        [
          {
            "node": "🔍 Tem Post Pendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Tem Post Pendente?": {
      "main": [
        [
          {
            "node": "📦 Criar Container (Step 1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Notificar Telegram (Sem Post)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Criar Container (Step 1)": {
      "main": [
        [
          {
            "node": "⏳ Aguardar Processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Aguardar Processamento": {
      "main": [
        [
          {
            "node": "🔎 Verificar Status Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Verificar Status Container": {
      "main": [
        [
          {
            "node": "✅ Container Pronto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Container Pronto?": {
      "main": [
        [
          {
            "node": "🚀 Publicar no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏳ Aguardar e Tentar Novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Publicar no Instagram": {
      "main": [
        [
          {
            "node": "✏️ Marcar como Publicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Marcar como Publicado": {
      "main": [
        [
          {
            "node": "📱 Notificar Telegram (Sucesso)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Aguardar e Tentar Novamente": {
      "main": [
        [
          {
            "node": "🔎 Verificar Status Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "financezap"
  },
  "tags": [
    {
      "name": "instagram",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "financezap",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ]
}
