n8n-workflows/FinanceZap — Enviar Link de Ativação via WhatsApp - 2.json
{
  "name": "FinanceZap — Enviar Link de Ativação via WhatsApp - 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "financezap-send-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3f8c4ce0-bda7-4721-947c-f7b620458224",
      "name": "Webhook Ativação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "financezap-send-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// ── Valida o secret e extrai dados (corrigido para n8n webhook v2) ─────────\nconst raw     = $input.first().json;\n// n8n webhook v2: payload real fica em raw.body, headers em raw.headers\nconst body    = raw.body    || raw;\nconst headers = raw.headers || {};\n\nconst EXPECTED_SECRET = 'defina-um-segredo-longo-para-o-n8n';\nconst sentSecret = headers['x-webhook-secret'] || body.secret || '';\n\nif (EXPECTED_SECRET && sentSecret !== EXPECTED_SECRET) {\n  return [{ json: { authorized: false, error: 'Secret inválido' } }];\n}\n\nconst phone   = String(body.phone   || '').replace(/[^0-9]/g, '');\nconst message = String(body.message || '').trim();\n\nif (!phone || phone.length < 8) {\n  return [{ json: { authorized: false, error: 'phone inválido ou ausente' } }];\n}\n\nif (!message) {\n  return [{ json: { authorized: false, error: 'message ausente' } }];\n}\n\nreturn [{ json: { authorized: true, phone, message } }];\n"
      },
      "id": "84833bb6-bb6e-42b5-9c6c-cf28d61d0715",
      "name": "Validar Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        },
        "options": {}
      },
      "id": "1a961ab9-1551-4b41-8031-4c4f37aef660",
      "name": "Autorizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error }) }}",
        "options": {}
      },
      "id": "dddcaea5-f211-4d63-9b06-f6f1eac0a196",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evo.thesilasstudio.com.br' }}/message/sendText/{{ 'financezap' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ '5B2DC42A9262-4C0C-8B33-E2B05465909E' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "93b0dd74-d940-4b23-b644-c1fa4560b6c6",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 280],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"sent\": true }",
        "options": {}
      },
      "id": "b4af9cca-e099-4651-9cd9-b786bf35a0ec",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Falha ao enviar WhatsApp\" }",
        "options": {}
      },
      "id": "3f25c5c8-c32b-45f5-9031-b86067701db9",
      "name": "Respond Erro Envio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Ativação": {
      "main": [[{ "node": "Validar Secret", "type": "main", "index": 0 }]]
    },
    "Validar Secret": {
      "main": [[{ "node": "Autorizado?", "type": "main", "index": 0 }]]
    },
    "Autorizado?": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Respond 401",     "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Respond OK",        "type": "main", "index": 0 }],
        [{ "node": "Respond Erro Envio","type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "dafe7083-49e4-493a-baa2-976967a03c4b",
  "meta": {
    "instanceId": "cc0470caf224343477a718c4b592ef1203acb31a19dc39cd7d8b6ac0079b02ce"
  },
  "id": "mQTxYmSSjenywr2T",
  "tags": []
}
