n8n-workflows/FinanceZap — WhatsApp Completo (IA + Venda + Transações) - 1.json
{
  "name": "FinanceZap — WhatsApp Completo (IA + Venda + Transações) - 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "financezap-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0acd7161-e120-40f7-901e-73d701d75633",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "financezap-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados do webhook da Evolution API (somente texto)\nconst raw = $input.first().json || {};\nconst body = raw.body || raw;\n\nif (body?.data?.key?.fromMe === true || body?.data?.messages?.[0]?.key?.fromMe === true) {\n  return [{ json: { action: 'skip', reason: 'fromMe' } }];\n}\n\nconst event = body?.event || '';\nif (!event.includes('messages')) {\n  return [{ json: { action: 'skip', reason: 'not_message' } }];\n}\n\nconst keyObj = body?.data?.key || body?.data?.messages?.[0]?.key || {};\nconst msgObj = body?.data?.message || body?.data?.messages?.[0]?.message || {};\nconst remoteJid = keyObj.remoteJid || '';\nif (!remoteJid || remoteJid.includes('@g.us')) {\n  return [{ json: { action: 'skip', reason: 'group_or_no_jid' } }];\n}\n\nlet phone = String(remoteJid).replace(/@s\\.whatsapp\\.net/, '').replace(/[^0-9]/g, '');\nif (!phone) {\n  return [{ json: { action: 'skip', reason: 'no_phone' } }];\n}\nif (phone.length === 10 || phone.length === 11) {\n  phone = '55' + phone;\n}\n\nconst pushName = body?.data?.pushName || body?.data?.messages?.[0]?.pushName || 'amigo';\nconst text = (\n  msgObj.conversation ||\n  msgObj.extendedTextMessage?.text ||\n  ''\n).trim();\n\nif (!text) {\n  return [{ json: { action: 'skip', reason: 'no_text_or_media' } }];\n}\n\nreturn [{ json: { action: 'process', phone, pushName, text } }];"
      },
      "id": "3960ba4d-a1c6-4ee3-be54-014a3f0c9a75",
      "name": "Parsear Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "skip-rule"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "process",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4c54a862-e3b7-4ac3-bf66-4dbf6ff38cae",
      "name": "Roteador Principal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"skipped\": true }",
        "options": {}
      },
      "id": "60b57d6e-ed13-447f-b989-64e6e442d6b7",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FINANCEZAP_API_BASE || 'https://financezap.thesilasstudio.com.br' }}/api/webhook/whatsapp-chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET || $env.FINANCEZAP_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "pushName",
              "value": "={{ $json.pushName }}"
            },
            {
              "name": "secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET || $env.FINANCEZAP_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 25000
        }
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Backend Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Roteia resposta do backend de texto\nconst resp = $input.first().json;\nconst parsed = $('Parsear Mensagem').first().json;\n\nif ($input.first().json.error && !resp.type) {\n  return [{ json: { action: 'send', phone: parsed.phone, msg: 'Servico temporariamente indisponivel. Tente novamente em instantes.' } }];\n}\n\nconst type = resp.type || 'user';\n\nif (type === 'sales') {\n  return [{ json: { action: 'sales', phone: parsed.phone, text: parsed.text, pushName: parsed.pushName } }];\n}\n\nconst reply = resp.reply || 'Ola! Como posso ajudar?';\nreturn [{ json: { action: 'send', phone: parsed.phone, msg: reply } }];\n"
      },
      "id": "b2c3d4e5-2222-3333-4444-555566667777",
      "name": "Processar Resposta Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sales-rule"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c3d4e5f6-3333-4444-5555-666677778888",
      "name": "Roteador Sales Send",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FINANCEZAP_API_BASE || 'https://financezap.thesilasstudio.com.br' }}/api/ai/sales-chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET || $env.FINANCEZAP_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "pushName",
              "value": "={{ $json.pushName }}"
            },
            {
              "name": "secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET || $env.FINANCEZAP_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "d4e5f6a7-4444-5555-6666-777788889999",
      "name": "Agente IA Vendas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        280
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Formata resposta do agente de vendas\nconst aiResp = $input.first()?.json || {};\nconst parsed = $('Processar Resposta Chat').first()?.json || {};\n\nlet reply = aiResp.reply ||\n  'Ola! Conheca o FinanceZap, controle financeiro pelo WhatsApp. Digite quero saber mais para ver como funciona!';\n\nreply = String(reply).replace(/\\r/g, '').trim();\n\nconst phone = String(parsed.phone || '').replace(/\\D/g, '');\nif (!phone) throw new Error('Telefone invalido.');\n\nreturn [{ json: { phone, msg: reply } }];\n"
      },
      "id": "e5f6a7b8-5555-6666-7777-888899990000",
      "name": "Formatar Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_BASE_URL || 'https://evo.thesilasstudio.com.br' }}/message/sendText/{{ $env.EVOLUTION_INSTANCE || 'financezap' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY || '5B2DC42A9262-4C0C-8B33-E2B05465909E' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.msg }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "2ba1bc39-acd3-49ee-a81b-e7476af7a46f",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "e1e1cce6-37cf-4c82-8566-23b21c87b6c6",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Parsear Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Mensagem": {
      "main": [
        [
          {
            "node": "Roteador Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador Principal": {
      "main": [
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backend Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Chat": {
      "main": [
        [
          {
            "node": "Processar Resposta Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar Resposta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta Chat": {
      "main": [
        [
          {
            "node": "Roteador Sales Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador Sales Send": {
      "main": [
        [
          {
            "node": "Agente IA Vendas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Vendas": {
      "main": [
        [
          {
            "node": "Formatar Resposta IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta IA": {
      "main": [
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bd50c94b-4299-4510-b7bc-98cac225a80f",
  "meta": {
    "instanceId": "cc0470caf224343477a718c4b592ef1203acb31a19dc39cd7d8b6ac0079b02ce"
  },
  "id": "WGSAHmUSmknsQLvU",
  "tags": []
}
