n8n-workflows/FinanceZap — WhatsApp Completo (IA + Venda + Transações) - 1.json
{
  "name": "FinanceZap — WhatsApp Completo (IA + Venda + Transações) - 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "financezap-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0acd7161-e120-40f7-901e-73d701d75633",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "financezap-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// ── Extrai dados do webhook da Evolution API (com suporte a áudio e imagem) ──\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nif (body?.data?.key?.fromMe === true) {\n  return [{ json: { action: 'skip', reason: 'fromMe' } }];\n}\n\nconst event = body?.event || '';\nif (!event.includes('messages')) {\n  return [{ json: { action: 'skip', reason: 'not_message' } }];\n}\n\nconst remoteJid = body?.data?.key?.remoteJid || '';\nif (remoteJid.includes('@g.us')) {\n  return [{ json: { action: 'skip', reason: 'group' } }];\n}\n\nconst phone = remoteJid.replace(/@s\\.whatsapp\\.net/, '').replace(/[^0-9]/g, '');\nconst msgData = body?.data?.message || {};\nconst pushName = body?.data?.pushName || 'amigo';\n\nconst isAudio = !!(msgData.audioMessage || msgData.pttMessage);\nconst isImage = !!(msgData.imageMessage);\n\nconst text = (\n  msgData.conversation ||\n  msgData.extendedTextMessage?.text ||\n  msgData.imageMessage?.caption ||\n  ''\n).trim();\n\nif (!phone) {\n  return [{ json: { action: 'skip', reason: 'no_phone' } }];\n}\n\nif (isAudio) {\n  const messageObject = body?.data?.message || {};\n  return [{ json: { action: 'audio', phone, pushName, messageObject: JSON.stringify(messageObject) } }];\n}\n\nif (isImage) {\n  const messageObject = body?.data?.message || {};\n  const caption = msgData.imageMessage?.caption || '';\n  return [{ json: { action: 'image', phone, pushName, text: caption, messageObject: JSON.stringify(messageObject) } }];\n}\n\nif (!text) {\n  return [{ json: { action: 'skip', reason: 'no_text' } }];\n}\n\nreturn [{ json: { action: 'process', phone, pushName, text } }];\n"
      },
      "id": "3960ba4d-a1c6-4ee3-be54-014a3f0c9a75",
      "name": "Parsear Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": { "type": "string", "operation": "equals" },
                    "id": "skip-rule"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "process",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "audio",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "image",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "4c54a862-e3b7-4ac3-bf66-4dbf6ff38cae",
      "name": "Roteador Principal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"skipped\": true }",
        "options": {}
      },
      "id": "60b57d6e-ed13-447f-b989-64e6e442d6b7",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://financezap.thesilasstudio.com.br' }}/api/webhook/whatsapp-chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-secret", "value": "={{ 'defina-um-segredo-longo-para-o-n8n' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "text", "value": "={{ $json.text }}" },
            { "name": "pushName", "value": "={{ $json.pushName }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 25000
        }
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Backend Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evo.thesilasstudio.com.br' }}/chat/getBase64FromMediaMessage/{{ 'financezap' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ '5B2DC42A9262-4C0C-8B33-E2B05465909E' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: JSON.parse($json.messageObject), convertToMp4: false }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "aa11bb22-1111-2222-3333-audio-download",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 560],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evo.thesilasstudio.com.br' }}/chat/getBase64FromMediaMessage/{{ 'financezap' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ '5B2DC42A9262-4C0C-8B33-E2B05465909E' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: JSON.parse($json.messageObject), convertToMp4: false }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "cc33dd44-3333-4444-5555-image-download",
      "name": "Download Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 720],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados do audio para enviar ao backend\nconst parseMensagem = $('Parsear Mensagem').first().json;\nconst downloadResp = $input.first().json;\n\nconst base64 = downloadResp.base64 || downloadResp.data || null;\nconst mimeType = downloadResp.mediaType || 'audio/ogg; codecs=opus';\n\nif (!base64) {\n  return [{ json: { phone: parseMensagem.phone, msg: 'Recebi seu audio, mas nao consegui processar. Tente novamente ou use o menu para lancar manualmente.' } }];\n}\n\nreturn [{ json: {\n  phone: parseMensagem.phone,\n  pushName: parseMensagem.pushName,\n  audioBase64: base64,\n  mimeType: mimeType\n} }];\n"
      },
      "id": "ee55ff66-5555-6666-7777-audio-prep",
      "name": "Preparar Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 560]
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados da imagem para enviar ao backend\nconst parseMensagem = $('Parsear Mensagem').first().json;\nconst downloadResp = $input.first().json;\n\nconst base64 = downloadResp.base64 || downloadResp.data || null;\nconst mimeType = downloadResp.mediaType || 'image/jpeg';\n\nif (!base64) {\n  return [{ json: { phone: parseMensagem.phone, msg: 'Recebi a imagem, mas nao consegui processar. Tente uma foto mais nitida ou use o menu.' } }];\n}\n\nreturn [{ json: {\n  phone: parseMensagem.phone,\n  pushName: parseMensagem.pushName,\n  imageBase64: base64,\n  mimeType: mimeType,\n  caption: parseMensagem.text || ''\n} }];\n"
      },
      "id": "gg77hh88-7777-8888-9999-image-prep",
      "name": "Preparar Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 720]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://financezap.thesilasstudio.com.br' }}/api/webhook/whatsapp-audio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-secret", "value": "={{ 'defina-um-segredo-longo-para-o-n8n' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "pushName", "value": "={{ $json.pushName }}" },
            { "name": "audioBase64", "value": "={{ $json.audioBase64 }}" },
            { "name": "mimeType", "value": "={{ $json.mimeType }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 40000
        }
      },
      "id": "ii99jj00-9999-aaaa-bbbb-backend-audio",
      "name": "Backend Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 560],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://financezap.thesilasstudio.com.br' }}/api/webhook/whatsapp-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-secret", "value": "={{ 'defina-um-segredo-longo-para-o-n8n' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "pushName", "value": "={{ $json.pushName }}" },
            { "name": "imageBase64", "value": "={{ $json.imageBase64 }}" },
            { "name": "mimeType", "value": "={{ $json.mimeType }}" },
            { "name": "caption", "value": "={{ $json.caption }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 40000
        }
      },
      "id": "kk11ll22-aaaa-bbbb-cccc-backend-image",
      "name": "Backend Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 720],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Roteia resposta do backend de audio ou imagem\nconst resp = $input.first().json;\nconst phone = $json.phone || '';\n\nconst reply = resp.reply || 'Nao consegui processar. Tente novamente!';\nreturn [{ json: { phone, msg: reply } }];\n"
      },
      "id": "mm33nn44-cccc-dddd-eeee-media-resposta",
      "name": "Processar Resposta Midia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 640]
    },
    {
      "parameters": {
        "jsCode": "// Roteia resposta do backend de texto\nconst resp = $input.first().json;\nconst parsed = $('Parsear Mensagem').first().json;\n\nif ($input.first().json.error && !resp.type) {\n  return [{ json: { action: 'send', phone: parsed.phone, msg: 'Servico temporariamente indisponivel. Tente novamente em instantes.' } }];\n}\n\nconst type = resp.type || 'user';\n\nif (type === 'sales') {\n  return [{ json: { action: 'sales', phone: parsed.phone, text: parsed.text, pushName: parsed.pushName } }];\n}\n\nconst reply = resp.reply || 'Ola! Como posso ajudar?';\nreturn [{ json: { action: 'send', phone: parsed.phone, msg: reply } }];\n"
      },
      "id": "b2c3d4e5-2222-3333-4444-555566667777",
      "name": "Processar Resposta Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "sales",
                    "operator": { "type": "string", "operation": "equals" },
                    "id": "sales-rule"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "c3d4e5f6-3333-4444-5555-666677778888",
      "name": "Roteador Sales Send",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://financezap.thesilasstudio.com.br' }}/api/ai/sales-chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-secret", "value": "={{ 'defina-um-segredo-longo-para-o-n8n' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "message", "value": "={{ $json.text }}" },
            { "name": "pushName", "value": "={{ $json.pushName }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "d4e5f6a7-4444-5555-6666-777788889999",
      "name": "Agente IA Vendas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 280],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Formata resposta do agente de vendas\nconst aiResp = $input.first()?.json || {};\nconst parsed = $('Processar Resposta Chat').first()?.json || {};\n\nlet reply = aiResp.reply ||\n  'Ola! Conheca o FinanceZap, controle financeiro pelo WhatsApp. Digite quero saber mais para ver como funciona!';\n\nreply = String(reply).replace(/\\r/g, '').trim();\n\nconst phone = String(parsed.phone || '').replace(/\\D/g, '');\nif (!phone) throw new Error('Telefone invalido.');\n\nreturn [{ json: { phone, msg: reply } }];\n"
      },
      "id": "e5f6a7b8-5555-6666-7777-888899990000",
      "name": "Formatar Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evo.thesilasstudio.com.br' }}/message/sendText/{{ 'financezap' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ '5B2DC42A9262-4C0C-8B33-E2B05465909E' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.phone }}" },
            { "name": "text", "value": "={{ $json.msg }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "2ba1bc39-acd3-49ee-a81b-e7476af7a46f",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "e1e1cce6-37cf-4c82-8566-23b21c87b6c6",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Evolution API": {
      "main": [[{ "node": "Parsear Mensagem", "type": "main", "index": 0 }]]
    },
    "Parsear Mensagem": {
      "main": [[{ "node": "Roteador Principal", "type": "main", "index": 0 }]]
    },
    "Roteador Principal": {
      "main": [
        [{ "node": "Respond Skip", "type": "main", "index": 0 }],
        [{ "node": "Backend Chat", "type": "main", "index": 0 }],
        [{ "node": "Download Audio", "type": "main", "index": 0 }],
        [{ "node": "Download Imagem", "type": "main", "index": 0 }]
      ]
    },
    "Backend Chat": {
      "main": [
        [{ "node": "Processar Resposta Chat", "type": "main", "index": 0 }],
        [{ "node": "Processar Resposta Chat", "type": "main", "index": 0 }]
      ]
    },
    "Download Audio": {
      "main": [
        [{ "node": "Preparar Audio", "type": "main", "index": 0 }],
        [{ "node": "Preparar Audio", "type": "main", "index": 0 }]
      ]
    },
    "Download Imagem": {
      "main": [
        [{ "node": "Preparar Imagem", "type": "main", "index": 0 }],
        [{ "node": "Preparar Imagem", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Audio": {
      "main": [[{ "node": "Backend Audio", "type": "main", "index": 0 }]]
    },
    "Preparar Imagem": {
      "main": [[{ "node": "Backend Imagem", "type": "main", "index": 0 }]]
    },
    "Backend Audio": {
      "main": [
        [{ "node": "Processar Resposta Midia", "type": "main", "index": 0 }],
        [{ "node": "Processar Resposta Midia", "type": "main", "index": 0 }]
      ]
    },
    "Backend Imagem": {
      "main": [
        [{ "node": "Processar Resposta Midia", "type": "main", "index": 0 }],
        [{ "node": "Processar Resposta Midia", "type": "main", "index": 0 }]
      ]
    },
    "Processar Resposta Midia": {
      "main": [[{ "node": "Enviar Texto", "type": "main", "index": 0 }]]
    },
    "Processar Resposta Chat": {
      "main": [[{ "node": "Roteador Sales Send", "type": "main", "index": 0 }]]
    },
    "Roteador Sales Send": {
      "main": [
        [{ "node": "Agente IA Vendas", "type": "main", "index": 0 }],
        [{ "node": "Enviar Texto", "type": "main", "index": 0 }]
      ]
    },
    "Agente IA Vendas": {
      "main": [
        [{ "node": "Formatar Resposta IA", "type": "main", "index": 0 }],
        [{ "node": "Formatar Resposta IA", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Resposta IA": {
      "main": [[{ "node": "Enviar Texto", "type": "main", "index": 0 }]]
    },
    "Enviar Texto": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bd50c94b-4299-4510-b7bc-98cac225a80f",
  "meta": {
    "instanceId": "cc0470caf224343477a718c4b592ef1203acb31a19dc39cd7d8b6ac0079b02ce"
  },
  "id": "WGSAHmUSmknsQLvU",
  "tags": []
}
