n8n-workflows/workflow2-enviar-link-ativacao.json
{
  "name": "FinanceZap — Enviar Link de Ativação via WhatsApp",
  "nodes": [
    {
      "parameters": {
        "path": "financezap-send-whatsapp",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Webhook Ativação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "financezap-send-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// Valida o secret e extrai dados\nconst body    = $input.first().json;\nconst headers = $input.first().json.headers || {};\n\nconst secret      = $vars.WEBHOOK_SECRET || '';\nconst sentSecret  = headers['x-webhook-secret'] || body.secret || '';\n\nif (secret && sentSecret !== secret) {\n  return [{ json: { authorized: false, error: 'Secret inválido' } }];\n}\n\nconst phone   = String(body.phone || '').replace(/[^0-9]/g, '');\nconst message = String(body.message || '').trim();\n\nif (!phone || !message) {\n  return [{ json: { authorized: false, error: 'phone e message são obrigatórios' } }];\n}\n\nreturn [{ json: { authorized: true, phone, message } }];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Validar Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Autorizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.error }) }}"
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ $vars.EVOLUTION_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"sent\": true }"
      },
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={ \"ok\": false, \"error\": \"Falha ao enviar WhatsApp\" }"
      },
      "id": "b2c3d4e5-0007-0007-0007-000000000007",
      "name": "Respond Erro Envio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 320]
    }
  ],
  "connections": {
    "Webhook Ativação": {
      "main": [[{ "node": "Validar Secret", "type": "main", "index": 0 }]]
    },
    "Validar Secret": {
      "main": [[{ "node": "Autorizado?", "type": "main", "index": 0 }]]
    },
    "Autorizado?": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }],
        [{ "node": "Respond Erro Envio", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "_variablesGuide": {
    "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no .env do servidor",
    "EVOLUTION_API_URL": "URL da Evolution API, ex: http://localhost:8080",
    "EVOLUTION_INSTANCE": "Nome da instância no Evolution API, ex: financezap",
    "EVOLUTION_API_KEY": "API key da Evolution API"
  }
}
